* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: #141414;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: prime;
  src: url("../src/assets/Font/Manrope-VariableFont_wght.ttf") format("opentype");
}
@font-face {
  font-family: secondary;
  src: url("../src/assets/Font/Ash.ttf") format("opentype");
}